fastapi
uvicorn
python-multipart
langchain
langchain-community
langchain-core
langchain-text-splitters
langchain-google-genai
langchain-experimental
chromadb
google-generativeai
rank-bm25
pypdf
pytesseract
pdf2image
Pillow
python-dotenv
pydantic